main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
    
  }
  .blog-content{
  width: 66%;
  }
  .sidebar{
    width: 31%;
    position: relative;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  @media only screen and (max-width: 600px) {
    .blog-content{
      width: 100%;
      }
      .sidebar{
        width: 100%;
      }
  }

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.author {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}
.single-blog {
    border-bottom: 1px solid #80808047;
    margin-bottom: 20px;
}
h1.b-title {
    margin: 20px 0px;
}
.mark-as-read {
    margin: 15px 0px;
}
.blog-image img{
    width: 100%;
}

